      .finger,
      .sphere {
        position: absolute;
        left: 50%;
        top: 50%;
        height:50px;
        width:50px;
        -moz-border-radius:100px;
        -webkit-border-radius:100px;
      }